/*  =============
 *   Main styles
 *  =============
*/

/* Fonts

100 Thin
200 Extra Light (Ultra Light)
300 Light
400 Regular (Normal)
500 Medium
600 Semibold (Demibold)
700 Bold
800 Extra Bold (Ultra Bold)
900 Black (Heavy)
*/

@font-face {
    font-family: "Montserrat";
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/MontserratRegular.woff2") format("woff2");
}

/* Variables */

:root {
    --ff: 'Montserrat', sans-serif;
    --accent: #FFD600;
    --text_color: #000;
    --transition: 0.2s ease-out;
}

/* Container */

.container, .container-fluid {
    width: 100%;
    padding-right: 18px;
    padding-left: 18px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: calc(1140px + 80px);
        padding-left: 40px;
        padding-right: 40px;
    }
}

/* Custom settings */

body {
    font-family: var(--ff);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.65;
    color: var(--text_color);
    text-rendering: optimizeLegibility;
    min-width: 320px;
}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
}

.footer {
    margin-top: auto;
}

.cover {
    width: 100%;
    height: 100%;
    max-width: 100%;
    display: block;
    object-fit: cover;
}

.contain {
    width: 100%;
    height: 100%;
    max-width: 100%;
    display: block;
    object-fit: contain;
}

.btn {
    cursor: pointer;
    text-align: center;
    display: inline-grid;
    place-items: center;
    text-align: center;
    white-space: nowrap;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 1px;
    min-height: 50px;
    color: var(--text_color);
}

.btn:active {
    transform: scale(0.95);
    transition: 0.05s ease transform;
}

/* Swiper Slider */

.swiper-container {
    position: relative;

    --swiper-navigation-color: var(--accent);
    --swiper-navigation-size: 34px;

    --swiper-pagination-color: linear-gradient(107.81deg, #A63203 -72.26%, #FBE035 139.72%);
    --swiper-pagination-bullet-inactive-color: linear-gradient(97.08deg, #F2E1D8 -31.08%, #FEC47D 113.15%);
    --swiper-pagination-bullet-inactive-opacity: 1;
    --swiper-pagination-bullet-width: 10px;
    --swiper-pagination-bullet-height: 10px;
    --swiper-pagination-bullet-horizontal-gap: 4.5px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    user-select: none;
}

/* Popups */

.fancybox__container {
    --fancybox-color: #fff;
}

.carousel__button {
    --carousel-button-width: 24px;
    --carousel-button-height: 24px;
    --carousel-button-bg: transparent;
}

.carousel__button svg {
    --carousel-button-svg-width: 24px;
    --carousel-button-svg-height: 24px;
    --carousel-button-svg-stroke-width: 2px;
    --carousel-button-svg-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.4));
}

/* Hamburger button menu */

.hamburger {
    --width: 34px;
    --hamburger-line-height: 5px;
    --border-radius: 0px;
    --height: 25px;
    position: relative;
    display: block;
    width: var(--width);
    height: var(--height);
    background: transparent;
    border: none;
    transition: var(--transition);
    outline: none;
    z-index: 2;
    cursor: pointer;
    transform: rotate(0deg);
    padding: 0;
}

@media only screen and (min-width: 992.1px) {
    .hamburger {
        display: none;
    }
}

.hamburger span {
    display: block;
    position: absolute;
    height: var(--hamburger-line-height);
    width: var(--width);
    background: #d3531a;
    border-radius: var(--border-radius);
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: var(--transition);
    pointer-events: none;
}

.hamburger span:nth-child(1) {
    top: 0px;
    transform-origin: left center;
}

.hamburger span:nth-child(2) {
    top: calc((var(--height) / 2) - var(--hamburger-line-height) / 2);
    transform-origin: left center;
}

.hamburger span:nth-child(3) {
    top: calc(var(--height) - var(--hamburger-line-height));
    transform-origin: left center;
}

/* active */

.hamburger.is-active span:nth-child(1) {
    transform: rotate(45deg);
    top: -2px;
    left: 5px;
}

.hamburger.is-active span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

.hamburger.is-active span:nth-child(3) {
    transform: rotate(-45deg);
    top: 22px;
    left: 4px;
}

/* header */